<h1>Estadisticas</h1>
<br>
<p>El número de preguntas es: 
<%= estadisticas.numPreguntas %></p>
<p>El número de comentarios totales es: 
<%= estadisticas.numComentarios %></p>
<p>El número medio de comentarios por pregunta: 
<%= estadisticas.medComentarios %></p>
<p>El número de preguntas sin comentarios: 
<%= estadisticas.noComentarios %></p>
<p>El número de preguntas con comentarios: 
<%= estadisticas.siComentarios %></p>
<br>
<h3>Visitas</h3>
<br>
<p>Visitantes únicos: <%= estadisticas.visitantes %></p>

<p>Páginas vistas: <%= estadisticas.visitas %></p>
