<h1>Estadisticas</h1>

<p>El número de preguntas es: 
<%= estadisticas.numPreguntas %></p>
<p>El número de comentarios totales es: 
<%= estadisticas.numComentarios %></p>
<p>El número medio de comentarios por pregunta: 
<%= estadisticas.medComentarios %></p>
<p>El número de preguntas sin comentarios: 
<%= estadisticas.noComentarios %></p>
<p>El número de preguntas con comentarios: 
<%= estadisticas.siComentarios %></p>

